

.header{
	border: 2px solid grey;
    width: 535px;
    height: 75px;
    background-color: pink;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Prociono', serif;
}

.formBox{
	border: 2px solid grey;
	height: 554px;
    width: 535px;

}

.container{
	text-align: center;
}

.formBlock{
	position: relative;
	text-align: left;
	margin-left: 40px;
	width: 80%;
	border: 1px solid black;
	padding-left: 10px;
	margin-top:10px;
	box-shadow:0 0 10px;
	font-size:14px;
	#commentSec {
		position: absolute;
   		top: 10px;
	}
}

input{
	width: 80%;
    height: 35px;
    border: none;
    	// height:30px;
}

.submit{
	background-color:pink;
	height: 50px;
    margin-top: 32px;
}

select{
	width: 486px;
    height: 35px;
    margin-left: -19px;
    background-repeat:no-repeat;
	background-position:6px;
	border:1px solid #DADADA;
	margin-top:10px;
	padding-left:35px;
	width:310px;
	height:30px;
	font-size:14px;
	box-shadow:0 0 10px;
}

// input.formbars{
// // background-repeat:no-repeat;
// // background-position:6px;
// // border:1px solid #DADADA;

// // padding-left:35px;
// // width:310px;

// // box-shadow:0 0 10px;
// }

button{
background-repeat: no-repeat;
background-position: 6px;
border: 1px solid #DADADA;
margin-top: 13px;
padding-left: 6px;
width: 88px;
height: 27px;
font-size: 14px;
box-shadow: 0 0 10px;
}

textarea{
	width: 94%;
    height: 111px;
    border: none;
    margin-top: 6px;
    padding-left: 20px;

}

